@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a0b2e;
  color: #FFFFFF;
}
/* Navbar Design */

nav {
  max-width: 1200px;
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}
.gradian {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
     /* Button Design */
.btn {
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 1000px;
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  color: #ffffff;
  cursor: pointer;
}
#two-btn {
  margin-top: 24px;
  display: flex;
  gap:8px;
  cursor: pointer;
}
.green-btn{
  border: none;
  border-radius: 1000px;
  border: 1px solid #00FF88;
  padding: 12px 20px 12px 48px;
  color: #00FF88;
  background-color: #1a0b2e;
  font-weight: 600;
  cursor: pointer;

 
}

/* Banner Design   */
.banner{
 
  padding:100px 493px;
}
.banner-contain {

  width: 550px;
  height: 558px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40;
}

.circle-img {
  width: 350px;
  height: 350px;
  position: relative;
}
.microphone-img {
  width: 116.67px;
  height: 175px;
  position: absolute;
  top: 39%;
}
.tooltip{
  position: absolute;
  background-color: #00FF88;
  padding: 8px 16px;
  border: none;
  border-radius: 100px;
 color: #1A0B2E;
 font-size: 1.1rem;
 font-weight: 600;
 top: 30%;
 left: 57%;
 cursor: pointer;
}
.banner-contain>h1{
  font-size: 3.7rem;
  font-weight: 800;
  margin-bottom: 8px;
  letter-spacing: 0%;
}

